@import url('https://fonts.googleapis.com/css2?family=wght@200;300;500;600;700;800&display=swap');
:root
{
    --overlay-color: crimson;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins'  sans-serif;
}
.showcase
{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    z-index: 2;
    transition: 0.5s;
}
.showcase.active 
{
    right: 300px;
}
.showcase header
{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 40px 100px;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-between;


}

.logo
{
    text-transform: uppercase;
    cursor: pointer;
}
.toggle
{
    position: relative;
    width: 60px;
    height: 60px;
    background: url('menu.png');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    cursor: pointer;

}
.toggle.active
{
    background: url('close.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}

.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;

}
 .overlay
 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }
 .text
 {
     position: absolute;
     z-index: 10;
 }
 .text h2{
     font-size: 2em;
     
     font-weight: 800;
     line-height: 1em;
     text-transform: uppercase;
     color: crimson;

 }
 .text h3{
    font-size: 1em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
    color: crimson;
}
.text a {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}
.menu
{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu ul{
    position: relative;
    list-style: none;
}
.menu ul li a
{
    text-decoration: none;
    font-size: 24px;
    color: rgb(0, 0, 0);

}
.menu ul li a:hover{
    color: var(--overlay-color);
}

@media (min-width: 798px) {
  .showcase,
  .showcase header{
      padding: 40px;
  }
  .text h2 {
   font-size: 3em;
  }
  .text h3{
      font-size: 2em;
  }
    .text a {
    padding: 19px 32px;
  }
}

.text a:before,
.text a:after {
  border-radius: 80px;
}

.text a:before {
  background-image: linear-gradient(92.83deg, crimson, crimson 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.text a:after {
  background-color: initial;
  background-image: linear-gradient(#340383 0, #720882 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.text a:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}

.text a:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.text a:active:not(:disabled) {
  color: #ccc;
}

.text a:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.text a:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.text a:disabled {
  cursor: default;
  opacity: .24;
}